.catalog{

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper{


        .test{
            position: absolute;
            bottom: 0;
            right: 0;
            background:#101010;
            border-radius: 15px 0 0 0;
            padding: 0 !important;


            &::before{
                content: '';
                position: absolute;
                width: 20px;
                height: 30px;
                border-radius: 0 0 20px;
                bottom: 100%;
                right: 0;
                box-shadow: 5px 5px 0 5px #101010;

                //content: '';
                //top: -30px;
                //right: -61px;
                //position: absolute;
                //width: 90px;
                //height: 90px;
                //background: #101010;
                //background: linear-gradient(135deg, transparent 35px,#101010 0) top left;
                //background-size: 34% 34%;
                //background-repeat: no-repeat;
                //background-image: radial-gradient(circle at 0 0, transparent 30px,#101010 35px);
            }

            &::after{
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 0 0 20px;
                bottom: 0;
                right: 100%;
                box-shadow: 5px 5px 0 5px #101010;

                //content: '';
                //top: 45px;
                //left: -31px;
                //position: absolute;
                //width: 90px;
                //height: 90px;
                //background: #101010;
                //background: linear-gradient(135deg,transparent 35px, #101010 0) top left;
                //background-size: 34% 34%;
                //background-repeat: no-repeat;
                //background-image: radial-gradient(circle at 0 0, transparent 30px,#101010 35px);
            }

        }
    }
    &__img{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }


    &__price{
        padding: 0 20px 10px 20px;
    }
    .test{
        position: absolute;
        bottom: 0;
        right: 0;
        background:#101010;
        border-radius: 15px 0 0 0;
        padding: 0 !important;


        &::before{
            content: '';
            position: absolute;
            width: 20px;
            height: 30px;
            border-radius: 0 0 20px;
            bottom: 100%;
            right: 0;
            box-shadow: 5px 5px 0 5px #101010;

            //content: '';
            //top: -30px;
            //right: -61px;
            //position: absolute;
            //width: 90px;
            //height: 90px;
            //background: #101010;
            //background: linear-gradient(135deg, transparent 35px,#101010 0) top left;
            //background-size: 34% 34%;
            //background-repeat: no-repeat;
            //background-image: radial-gradient(circle at 0 0, transparent 30px,#101010 35px);
        }

        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 0 0 20px;
            bottom: 0;
            right: 100%;
            box-shadow: 5px 5px 0 5px #101010;

            //content: '';
            //top: 45px;
            //left: -31px;
            //position: absolute;
            //width: 90px;
            //height: 90px;
            //background: #101010;
            //background: linear-gradient(135deg,transparent 35px, #101010 0) top left;
            //background-size: 34% 34%;
            //background-repeat: no-repeat;
            //background-image: radial-gradient(circle at 0 0, transparent 30px,#101010 35px);
        }

    }

    &__text{
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 10px;
        padding-bottom: 10px;
        //
        //background: red;
        //padding: 10px 10px 10px 20px;
        //border-radius: 20px 0 0 0;

        //&:after{
        //    content: '';
        //    top: 0;
        //    right: 0;
        //    display: block;
        //
        //    overflow: hidden;
        //    position: relative;
        //    margin: 10px;
        //    width: 100px;
        //    height: 100px;
        //
        //    background: #c00; /* fallback */
        //    background:
        //            linear-gradient(135deg, transparent 35px, #c00 0) top left;
        //    background-size: 50% 50%;
        //    background-repeat: no-repeat;
        //    background-image:
        //            radial-gradient(circle at 0 0, rgba(204,0,0,0) 50px, #c00 35px);
        //}

    }

    &__price{
        margin-top: 15px;
        .new{
            color: $white;
            font-weight: 500;
            font-size: 24px;
            line-height: 125.69%;
        }
        .old{
            text-decoration: line-through;
            color: $catalogOldPrice;
            font-weight: normal;
            font-size: 16px;
            line-height: 125.69%;
        }
    }

    &__price-price{
        position: absolute;
        bottom: 10px;
        right: 12px;
    }

    .rate{
        width: 54px !important;
        height: 30px !important;
    }

    &__tags {
        position: absolute;
        top: 12px;
        left: 12px;

        &-item {
            padding: 6px 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 125.69%;
            color: $white;
            border-radius: 8px;

        }
    }

    &__title{
        font-weight: normal;
        font-size: 20px;
        line-height: 125.69%;
    }

    &__category{
        margin-top: 12px;


        &-item{
            color: $genre-color;
            font-weight: normal;
            font-size: 14px;
            line-height: 64.19%;
            padding: 6px 14px;
            border-radius: 4px;
            background: $genre-bg;
        }
    }

}

@media only screen and (max-width:1366px){

    //.catalog{
    //
    //    .test{
    //        right: -1px;
    //
    //        &::after {
    //            top: 37px;
    //            left: -30px;
    //        }
    //    }
    //}
}


@media only screen and (width:1366px){
    .catalog{

        .test{
            &__price{
                .new{
                    font-size: 21px;
                }
                .old{
                    font-size: 14px;
                }
            }
        }
    }
}


@media only screen and (max-width:1050px){
    .catalog{
        .test{
            &__price{
                .new{
                    font-size: 22px;
                }
                .old{
                    font-size: 15px;
                }
            }
        }
    }

}


@media only screen and (max-width:992px){
    .catalog{
        .test{
            &__price{
                .new{
                    font-size: 24px;
                }
                .old{
                    font-size: 16px;
                }
            }
        }
    }

}

@media only screen and (max-width:690px){
    .catalog{
        .test{
            &__price{
                .new{
                    font-size: 18px;
                }
                .old{
                    font-size: 14px;
                }
            }
        }
    }
}



@media only screen and (max-width: 500px){

    .catalog .test {

        //&:after{
        //    top: 58px;
        //}
    }


}

@media only screen and (max-width:576px){
    .catalog{
        .test{
            &__price{
                .new{
                    font-size: 26px;
                }
                .old{
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width:400px){
    .catalog{
        .test{
            &__price{
                .new{
                    font-size: 24px;
                }
                .old{
                    font-size: 16px;
                }
            }
        }
    }
}






.showCart span{
    font-weight: normal;
    font-size: 20px;
    line-height: 125.69%;
    color: #F59502;
    cursor: pointer;
}








