.home{
    padding-bottom: 30px;



    &__title{
        font-weight: 900;
        font-size: 66px;
        line-height: 92.69%;
        z-index: 100;
        height: 100%;
        padding: 0 20px 80px 65px;

        position: absolute;
        top: 0;

    }

    &__img{
        margin-left: -90px;
        margin-top: -24px;
        position: absolute;
        z-index: 50;
        width: 150%;


    }
    .col-lg-7{
        max-width: 63.333333% !important;
    }


}

.swiper-slide-thumb-active{
    filter: brightness(40%);
}

.swiper-home{
    .swiper-slide {

        &-text{
            position: absolute;
            top: 0;
            left: 60px;
        }

        &-active {
            position: relative;

            img {
                //position: absolute;
            }
        }
    }
}


.slide{

    &-group{
        padding-left: 36%;
        padding-bottom: 35%;
    }

    &-title{
        padding-top: 8%;
        font-weight: 900;
        font-size: 68.0633px;
        line-height: 101.69%;
    }
    &-new{
        font-weight: bold;
        font-size: 55px;
        line-height: 110.19%;
    }
    &-rate{
        font-size: 14px;
        line-height: 18px;
        background: $orangeButton;
        border-radius: 10px;
        padding: 8.5px 11px;
        font-weight: 500;
        height: 100%;
    }
    &-old{
        font-weight: normal;
        font-size: 47.9141px;
        line-height: 110.19%;
        color: $opacityWhite;
        text-decoration: line-through;
    }


}


.swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    background: $white;
}
.swiper-home_thumbs{
    width: 82%;
    margin-left: auto;
    margin-right: 0;
}
