
@media only screen and (max-width : 1920px){
    .catalog__text{
        .rate{
            width: 70%;
        }
    }

    .catalog__price{
        margin-top: 19px;

        .new{
            font-size: 24px;
        }
    
        .old{
            font-size: 16px;
        }
    }
}


@media only screen and (max-width : 1500px) {

    .header{
        padding: 0 20px;
    }

    .luck__item{
        margin-right: 40px;
    }
    .catalog{
        padding: 0 10px;
    }

    .news__item_5,
    .news__thumb-block,{
        right: -15px;
    }
    .news__thumb-medium{
        right: 55px;
    }

    .catalog__price{
        margin-top: 16px;
    }

}

@media only screen and (max-width : 1420px) {

    .news__item_5-img{
        &:before{
            right: 14%;
        }
        &:after{
            right: 14%;
        }
    }

    .news__downText{
        margin-top: 36px;
        span{
            font-size: 14px;
            line-height: 123%;
        }
    }

    .news__item-metatag{
        font-size: 16.2px;
        line-height: 109.5%;
    }

    .news__item{


        &_1{

            .news__item-title{
                font-size: 27px;
                line-height: 120%;
            }
            img{
                width: 120%;
            }
        }
        &_2{
            margin-top: 45px;

            .news__item-title{
                font-size: 32.4px;
                line-height: 106.5%;
            }
            img{
                width: 101%;
            }
        }
        &_3{

            .news__item-title{
                font-size: 32.4px;
                line-height: 109.5%;
            }
            img{
                width: 114%;
            }
        }
        &_4{

            .news__item-title{
                font-size: 32.4px;
                line-height: 109.5%;
            }
            img{
                width: 114%;
            }
        }
        &_5{

            .news__item-title{
                font-size: 21.6px;
                line-height: 120%;
            }
            img{
                width: 90%;
            }
        }
    }
    .news_block-2{
        margin-left: 10px;
    }
    .news_block-3{
        margin-top: -2px;
    }
    .news__video{
        margin-top: -13px;
    }
    .news__thumb__video{
        span{
            font-size: 14.4px;
            line-height: 123%;
        }
        a{
            font-size: 14.4px;
            line-height: 57.5%;
        }
    }

}



@media only screen and (max-width : 1400px) {

    .proposal_item{

        &_1{

            .proposal_item-title{
                font-size: 54px;
                line-height: 95.69%;
            }
        }
        &_2{

            .proposal_item-title{
                font-size: 54px;
                line-height: 95.69%;
            }
        }
        &_3{

            .proposal_item-title{
                font-size: 59.4px;
                line-height: 87.69%;
            }
        }
    }


    .proposal textarea{
        height: 100%;
    }


}



@media only screen and (max-width : 1367px) {

    .swiper-home .swiper-slide-fixed{
        padding: 125px 60px;
    }

    .proposal_item__wrapper-2 form{
        width: 85%;
    }

    .home__title{
        font-weight: 900;
        font-size: 59.7453px;
        line-height: 92.69%;
    }
    .slide {
        &-title {
            font-weight: 900;
            font-size: 68.0633px;
            line-height: 101.69%;
            padding-bottom: 0;
            padding-top: 3%;
        }
        &-new{
            font-weight: bold;
            font-size: 49.7878px;
            line-height: 110.19%;
        }
        &-old{
            font-weight: normal;
            font-size: 43.3734px;
            line-height: 110.19%;
        }
        &-group{
            //padding-left: 18%;
        }
    }

    .catalog__text{
        padding-right: 5px;
        padding-bottom: 9px;
    }

    .proposal_item__wrapper-2{
        margin-top: 85px;
    }
    .proposal_item__wrapper-3{
        //bottom: 60px;
        padding-bottom: 30px;
        right: 100px;
    }

    .home__title{
        //padding-bottom: 100px;
        //font-size: 55px;
    }


    .proposal_item-btn{
        //padding: 10px 30px;
        font-size: 14px;
    }



    .proposal_item__wrapper-3{
        right: 130px;
    }

    .catalog__price{
        margin-top: 31px;
    }

}

@media only screen and (width : 1366px){

    .catalog__price{
        margin-top: 10px;
    }



}

@media only screen and (max-width : 1300px) {


    .proposal_item__wrapper-2 form{
        width: 74%;
    }

    .proposal_item-title{
        font-size: 46px;
    }

    .proposal_item__wrapper-3{
        //bottom: 74px;
    }

    .news_block-1{
        flex: 0 0 42%;
        max-width: 42%;
    }
    .proposal_item input, .proposal_item textarea{
        font-size: 16px;

    }

    .home__title{
        font-size: 55px;
    }

    .catalog__price{
        margin-top: 28px;
    }

}


@media only screen and (max-width : 1250px) {

    .proposal_item__wrapper-3{
        //bottom: 55px;
    }
    .proposal_item-text{
        font-size: 18px;
    }

    .catalog__price{
        margin-top: 20px;
    }

}


@media only screen and (max-width : 1200px) {

    .swiper-home .swiper-slide-fixed {
        padding: 110px 60px;
    }

    .slide-title{
        font-size: 55px;
    }
    .slide-new{
        font-size: 40px;
    }
    .slide-old{
        font-size: 34px;
    }
    .slide-group{
        padding-bottom: 22%;
    }

    .proposal_item__wrapper-2 form{
        width: 70%;
    }

    .proposal_item__wrapper-3 form{
        width: 120%;
    }

    .home__title{
        font-size: 50px;
    }

    .news_block-1{
        flex: 0 0 45%;
        max-width: 45%;

    }

    .catalog__price{
        margin-top: 18px;
    }

}


@media only screen and (max-width : 1100px) {


    .swiper-home .swiper-slide-fixed {
        padding: 105px 35px;
    }

    .proposal_item_3 img{
        margin-top: -16px;
    }

    .proposal_item__wrapper-1{
        padding-top: 60px;
    }

    .proposal_item input, .proposal_item textarea{
        font-size: 15px;
        padding: 15px;
    }
    .proposal_item__wrapper-2{
        margin-top: 60px;
    }
    .proposal_item-title{
        font-size: 40px;
    }

    .catalog__price{
        margin-top: 10px;
    }

    .proposal_item__wrapper-3{
        right: 50px;
        padding-bottom: 20px;
    }
}



@media only screen and (max-width : 1000px) {


    .proposal_item__wrapper-3{
        //bottom: 30px;
    }

    .catalog__price{
        margin-top: 6px;
    }

}


@media only screen and (max-width : 992px) {


    .slide-title{
        padding-bottom: 22%;
    }

    .swiper-home .swiper-slide-fixed{
        display: none;
    }


    .proposal_item__wrapper-2 form{
        width: 115%;
    }

    .slide{

        &-group{
            padding-left: 0;
            padding-bottom: 60%;
        }
        &-title{
            padding-top: 0;
            font-weight: 900;
            font-size: 49.961px;
            line-height: 101.69%;
        }
    }

    .proposal{
        margin: 0 20px;
    }

    .proposal_item_1,
    .proposal_item_2,
    .proposal_item_3{
        width: 100% ;

        img{
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    .proposal_item_2 img{
        z-index: 1000;
        //margin-left: 42px;
    }
    .proposal_item-title{
        font-size: 50px;
        margin-bottom: 30px;
        font-weight: 700;
    }
    .proposal_item-text{
        font-size: 24px;
    }
    .proposal_item-btn{
        padding: 20px 35px;
        font-size: 26px;
    }

    .proposal_item__wrapper-1{
        padding-left: 50px;
    }
    .proposal_item__wrapper-2{
        margin-top: 80px;

    }
    .proposal_item__wrapper-3{
        right: 0;
        max-width: 100%;

        form{
            width: 100%;
            &>div{
                width: 90%;
            }
        }

        .proposal_item-title{
            padding-right: 0;
            font-size: 46px;
            margin-bottom: 10px;
        }
        .proposal_item-btn{
            background: $orange;
        }
    }
    .proposal_item_3{
        margin-top: 0;
        //&>div{
        //    width: 125%;
        //}
        img{
            margin-top: -110px;
            margin-left: 15px;
        }
    }
    .proposal_item__wrapper-3{
        padding: 0 0 30px 40px;
    }


    .home{
        .swiper-container{
            //overflow-y: visible;
            //overflow-x: hidden;
        }
        .swiper-wrapper{
            height: auto;
        }
        .swiper-slide img{
            border-radius: 17px;
        }

        .col-lg-7{
            max-width: 100% !important;
        }
        .mb-45{
            margin-bottom: 0 !important;
        }


    }


    .news_block-1{
        margin-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }


    .section__subtitle{
        margin: 0;
        font-size: 28px;
    }






    .proposal_item__wrapper-2 .proposal_item-text{
        margin-left: 0;
    }
    .proposal_item__wrapper-2 form{
        margin-left: 0;
    }


    .catalog__text{
        .rate{
            width: 60%;
        }
    }

    .catalog__price{
        margin-top: 24px;

        .new{
            font-size: 30px;
        }
    
        .old{
            font-size: 22px;
        }
    }

}

@media only screen and (max-width : 950px){

    .catalog__text{
        .rate{
            width: 60%;
        }
    }

    .catalog__price{
        margin-top: 20px;

        .new{
            font-size: 30px;
        }
    
        .old{
            font-size: 22px;
        }
    }
}


@media only screen and (max-width : 900px) {


    .proposal_item input, .proposal_item textarea{
        font-size: 26px;
    }

    .proposal_item__wrapper-3 .proposal_item-title{
        font-size: 40px;
    }
    .proposal_item-title{
        margin-bottom: 35px;
    }

    .proposal_item__wrapper-2 form{
        width: 105%;
    }
    .catalog__text{
        padding-right: 5px;
        padding-bottom: 5px;

        .rate{
            width: 60%;
        }
    }

}



@media only screen and (max-width : 820px) {


    .proposal_item_3 img{
        margin-top: -75px;
    }

    .proposal_item input,
    .proposal_item textarea{
        font-size: 26px;
    }

    .proposal_item__wrapper-2 .proposal_item-title{
        margin-bottom: -50px;
        font-size: 37.5671px;
        line-height: 121.19%;
    }
    .proposal_item_1 .proposal_item-title{
        font-size: 37.5671px;
        line-height: 121.19%;
    }
    .proposal_item_3 .proposal_item-title{
        font-size: 37.5671px;
        line-height: 121.19%;
    }

    //.proposal_item-title{
    //    font-size: 37.5671px;
    //    line-height: 121.19%;
    //    margin-bottom: 10px;
    //}

    .proposal_item-text{
        font-weight: normal;
        font-size: 20.3208px;
        line-height: 145.19%;
    }
    .proposal_item__wrapper-3{
        padding: 0 0 34px 70px;
    }

    .catalog__price{
        margin-top: 15px;

        .new{
            font-size: 27px;
        }

        .old{
            font-size: 20px;
        }
    }

    .proposal_item__wrapper-3{
        //padding: 0;
        padding-bottom: 60px;
    }

}


@media only screen and (width : 768px){

    .footer__row>.footer__list:nth-child(2){
        margin-top: 11%;
    }





    .catalog__text{
        padding-right: 9px;
        padding-bottom: 4px;

        .rate{
            width: 70%;
        }
    }

    .catalog__price{
        margin-top: 17px;
        margin-right: -8px;
    }
}


@media only screen and (max-width : 767px) {



    .slide{

        &-title{
            padding-top: 33px;
            padding-bottom: 40px;
            font-weight: 900;
            font-size: 49.961px;
            line-height: 101.69%;
        }
        &-new{
            font-weight: 700;
            font-size: 36.1429px;
            line-height: 110.19%;
            padding-bottom: 8px;
        }
        &-old{
            font-weight: normal;
            font-size: 28.0261px;
            line-height: 110.19%;
        }
        &-rate{
            font-weight: 400;
            font-size: 19.7143px;
            line-height: 125.69%;
        }


    }

    .section {
        &__title {
            font-weight: 900;
            font-size: 32px;
            line-height: 125.69%;
        }
        &__subtitle{
            font-weight: bold;
            font-size: 28px;
            line-height: 125.69%;
        }
    }



    .proposal_item__wrapper-3{
        right: 0;
        //padding: 0 0 34px 40px;

        label{
            width: 100%;
            textarea{
                width: 100%;
            }
        }
    }

    .proposal_item-title{
        //margin-bottom: 20px;
        //font-size: 50px;
    }
    .proposal_item-text{
        //font-size: 18px;
    }

    .luck {

        &__block{
            margin-bottom:  0;
        }

        &__item {
            margin-bottom: 25px;

            &:first-child{
                margin-left: 110px;
            }

            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }

}


@media only screen and (max-width : 750px){


    .proposal_item__wrapper-2 form{
        width: 95%;
    }


}

@media only screen and (max-width : 720px){
    .catalog__price{
        margin-top: 13px;
    
        .new{
            font-size: 25px;
        }
    
        .old{
            font-size: 18px;
        }
    }
}

@media only screen and (max-width : 700px){



    .proposal_item__wrapper-2{
        height: 70%;

        form{
            width: 125%;
        }
    }
    .proposal_item-btn{
        font-size: 14px;
        padding: 12px 25px;
    }
    .proposal_item input, .proposal_item textarea{
        font-size: 14px;
        line-height: 125.69%;
    }





    .catalog__price{
        margin-top: 14px;
    
        .new{
            font-size: 23px;
        }
    
        .old{
            font-size: 16px;
        }
    }

    .catalog__text{
        .rate{
            width: 70%;
        }
    }
}

@media only screen and (max-width : 700px) {


    .proposal_item__wrapper-3{
        padding-left: 37px;
        padding-bottom: 20px;
    }

    .slide{


        &-title{
            padding-bottom: 20px;
            font-size: 42px;
        }
        &-new{
            font-size: 34px;
            padding-bottom: 0;
        }
    }

    .catalog__text{
        //padding-right: 10px;
        //padding-bottom: 10px;
        padding-right: 0;
        padding-bottom: 0;
    }

    .catalog__price{
        margin-top: 12px;
    }
}


@media only screen and (max-width : 650px){

    .catalog__text{
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .catalog__text{
        .rate{
            width: 83%;
        }
    }

    .catalog__price{
        margin-top: 18px;

        .new{
            font-size: 20px;
        }
    
        .old{
            font-size: 15px;
        }
    }
}


@media only screen and (max-width : 600px) {


    .proposal_item__wrapper-2{
        margin-top: 50px;
    }
    .proposal_item-title{
        font-size: 28px;
    }

    .proposal_item_3 img{
        margin-top: -60px;
    }

    .proposal_item-text{
        font-size: 16px;
    }


    .catalog__item-img{
        height: 200px;
    }


    .catalog__text{
        padding-right: 4px;
        padding-bottom: 5px;
    }

    .catalog__price{
        margin-top: 11px;
    }

}

@media only screen and (max-width : 577px){
    .catalog__text{
        padding-right: 5px;
        padding-bottom: 9px;
    }

    .catalog__price{
        margin-top: 11px;
    }
    /* .catalog__price{
        margin-top: 40px;
    } */
}


@media only screen and (max-width : 576px){


    .home {

        .slide-title{
            padding-top: 15%;
            font-weight: 900;
            font-size: 26.7702px;
            line-height: 101.69%;
        }
        .swiper-slide img {
            border-radius: 0;
        }
    }

    .proposal_item_1 .proposal_item-title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .proposal_item_2 .proposal_item-title{
        font-size: 30px;
        margin-bottom: 8px;
    }
    //.proposal_item_1 .proposal_item-title{
    //    font-size: 30px;
    //}


    .proposal_item-btn{
        padding: 15px 35px;
        margin-top: 0;
    }
    .proposal_item__wrapper-2 form{
        width: 100%;
    }


    .catalog__text{
        padding-right: 7px;
        padding-bottom: 5px;
    }

    .catalog__text{
        .rate{
            width: 60%;
        }
    }

    .catalog__price{
        margin-top: 24px;

        .new{
            font-size: 30px;
        }
    
        .old{
            font-size: 22px;
        }
    }
    
}

@media only screen and (max-width : 550px) {


    .header{
        margin-bottom: 0;
        margin-top: 18px;
        padding: 0 10px;
    }
    main{
        padding-top: 105px;
    }

    .modal-auth{

        .forgot{
            align-items: flex-start !important;
        }
        .registration {
            padding: 24px;

            &__services{
                flex-direction: row !important;
            }
            &__enter-help{
                margin-top: 0;
            }
            &__enter{
                width: 100%;
                text-align: center;
            }
            &__forgot{
                padding-left: 0;
            }
            &__sign-up,
            &__sign-in{
                font-size: 24px;
            }
            &>div{
                flex-direction: column;
            }
            input {
                width: 100% !important;
            }
        }
    }



    .proposal_item__wrapper-1{
        padding-top: 20px;
    }
    .proposal_item__wrapper-3 .proposal_item-title{
        font-size: 26px;
    }
    .proposal_item-btn{
        margin-top: 0 !important;
        padding: 11px;
        font-size: 14px;
        font-weight: 500;
    }

    .proposal_item__wrapper-2{
        //text-align: center;
        margin-left: 0;
        margin-top: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;

        br{
            display: none;
        }
        button{
            width: 100%;
        }
    }

    .proposal_item__wrapper-3{
        padding-left: 0;
        //text-align: center;

        form{
            width: 85%;
            &>div{
                width: 100%;
            }
            button{
                width: 100%;
            }
        }
    }

    .catalog__price{
        margin-top: 20px;

        .new{
            font-size: 30px;
        }
    
        .old{
            font-size: 22px;
        }
    }
}

@media only screen and (max-width : 520px){

    .catalog__price{
        margin-top: 17px;
    }

}


@media only screen and (max-width : 500px) {


    .slide-rate{
        font-weight: 500;
        font-size: 12px;
        line-height: 125.69%;
        padding: 4px 7px;
    }
    .slide-new{
        margin-right: 10px !important;
        font-weight: bold;
        font-size: 22px;
        line-height: 110.19%;
    }
    .slide-old{
        font-weight: normal;
        font-size: 17.0593px;
        line-height: 110.19%;
    }
    .slide-title{
        padding-top: 15px;
        font-size: 26px !important;
    }

    .swiper-home .swiper-slide-text{
        left: 35px;
    }


    .catalog{
        padding: 0;

        &__row > .col-10{
            max-width: 100% !important;
            flex: 0 0 100% !important;
        }
    }

    .luck{
        .container{
            padding: 0 35px;
        }
    }



      .section__title{
          font-size: 28px;
      }
      .luck__item{
          width: 100%;
      }

    .proposal_item_3 img{
        margin-left: 0;
    }

    .proposal_item__wrapper-3 .proposal_item-title{
        //display: none !important;
    }

    .proposal{
        input, textarea{
            //font-size: 12px;
            padding: 6px;
        }
    }

    .proposal{
        padding-bottom: 40px;
        padding-top: 10px;
    }

    //.swiper-home{
    //    left: 45px;
    //}
    //

    .catalog__text{
        .rate{
            width: 50%;
        }
    }

    .catalog__price{
        margin-top: 30px;

        .new{
            font-size: 35px;
        }
    
        .old{
            font-size: 27px;
        }
    }

}

@media only screen and (max-width : 471px){
    .catalog__price{
        margin-top: 17px;
    }
}

@media only screen and (max-width : 450px) {


    .proposal_item_3 img{
        width: 102%;
    }

    .proposal_item-title{
        font-weight: bold;
        font-size: 28px !important;
        line-height: 121.19%;
        margin-bottom: 30px;
    }
    .proposal_item-text{
        font-weight: normal;
        font-size: 15px;
        line-height: 145.19%;
        margin-bottom: 10px;
    }
    .proposal_item textarea{
        height: 115px;
    }
    .proposal input, .proposal textarea{
        padding: 10px;
    }


    .luck{
        .container{
            padding: 0 16px;
        }
    }

    .proposal_item__wrapper-1{
        padding-left: 25px;
    }

    .proposal_item_3{
        margin-top: 15px;
    }

    .luck__item{
        &-img .rate{
            left: 70%;
        }
        &-price{
            left: 88%;
        }
    }

    .catalog__price{
        margin-top: 20px;
    }

}

@media only screen and (max-width : 420px){

    main{
        padding-top: 90px;
    }

    .proposal_item__wrapper-2 .proposal_item-title{
        padding-right: 50px;
    }


    .catalog__title{
        margin: 8px 0;
    }

    .catalog__wrapper{
        margin-bottom: 5px;
    }
    .catalog__tags{
        top: 15px;
    }
    .catalog__text{
        padding-right: 5px !important;
        padding-bottom: 5px !important;

        .rate{
            width: 60%;
        }
    }

    .catalog__price{
        margin-top: 20px;

        .new{
            font-size: 30px;
        }
    
        .old{
            font-size: 20px;
        }
    }
}

@media only screen and (max-width : 400px) {



    .proposal_item__wrapper-3 label > div{
        margin-top: 0 !important;
    }
    .proposal_item__wrapper-2 button{
        padding: 8px;
    }
    .proposal_item__wrapper-2{
        width: 90%;
    }

    .proposal_item__wrapper-2 .proposal_item-text{
        //margin-bottom: 60px;
        font-size: 12px !important;
        margin-bottom: 90px !important;
    }

    //.proposal_item__wrapper-2 form {
    //}

    .proposal_item__wrapper-3{
        padding-bottom: 30px;
    }

    .proposal_item input, .proposal_item textarea{
        font-size: 14px;
        padding: 8px;
    }

    .proposal_item-title{
        font-weight: bold;
        font-size: 17.3408px !important;
        line-height: 121.19%;
        margin-bottom: 10px;
    }
    .proposal_item-text{
        font-weight: normal;
        font-size: 9.38px;
        line-height: 145.19%;
        margin-bottom: 10px;
    }
    .proposal_item textarea{
        height: 115px;
    }


    .proposal_item_3{
        margin-top: 15px;
    }

    .catalog__row .col-8{
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .luck__item{
        &-img {
            &-detail_1 {
                left: -125px;
            }
            &-detail_3 {
                left: -125px;
            }

            .rate {
                left: 75%;
            }
        }
        &-price{
            left: 88%;
            .new{
                font-size: 22px;
            }
            .old{
                font-size: 19px;
            }
        }

    }

    .catalog__price{
        margin-top: 25px;
    }

}

@media only screen and (max-width : 380px){
    .catalog__text{
        .rate{
            width: 66%;
        }
    }

    .catalog__price{
        margin-top: 16px;

        .new{
            font-size: 26px;
        }
    
        .old{
            font-size: 20px;
        }
    }
}

@media only screen and (width : 360px) {
    .catalog__text{
        .rate{
            width: 70%;
        }
    }

    .catalog__price{
        margin-top: 16px;
        margin-bottom: 10px;

        .new{
            font-size: 23px;
        }
    
        .old{
            font-size: 15px;
        }
    }

    .catalog__text{
        padding-right: 9px;
        padding-bottom: 5px;
    }
}
