@media only screen and (max-width : 1200px) {


    //.slide-title{
    //    padding-top: 0;
    //}

}


@media only screen and (max-width : 1000px) {

    //
    //.slide-title{
    //    font-size: 61px;
    //}

}

@media only screen and (max-width : 922px) {


    //.slide-title{
    //    font-size: 61px;
    //    padding-bottom: 30px;
    //}

}

@media only screen and (max-width : 768px) {



    //.proposal_item-btn{
    //    font-size: 25.9968px;
    //    line-height: 95.69%;
    //}

    //.catalog__text .rate{
    //    width: 75%;
    //}
    //.catalog__playground{
    //    position: absolute;
    //    top: 5px;
    //    right: 20px;
    //}
    //.catalog__title{
    //    font-size: 30.2309px;
    //    line-height: 125.69%;
    //}
    //.catalog__price {
    //
    //    .old{
    //        font-size: 16.0257px;
    //        line-height: 125.69%;
    //    }
    //    .new {
    //        font-size: 24px;
    //    }
    //}
    //
    //
    //.slide-rate{
    //    padding: 3.5px 11px;
    //}
    //.slide-title{
    //
    //    padding-top: 15%;
    //    font-size: 49.961px;
    //    line-height: 101.69%;
    //}

}



@media only screen and (max-width : 660px) {

    //.catalog__title{
    //    font-size: 22px;
    //}
    //.catalog__text{
    //    padding-right: 0;
    //    padding-bottom: 0;
    //}

}

@media only screen and (max-width : 600px) {



    //.catalog__price .new{
    //    font-size: 20px;
    //}
    //
    //
    //.slide-title{
    //    font-size: 40px;
    //
    //}

}


@media only screen and (max-width : 576px) {


    //.catalog__text{
    //    padding-right: 15px;
    //    padding-bottom: 10px;
    //}
    //
    //.catalog__price{
    //
    //    .old{
    //        font-size: 22px;
    //    }
    //    .new{
    //        font-size: 26px;
    //    }
    //}


}


@media only screen and (max-width : 550px) {

    //
    //.proposal_item__wrapper-2{
    //    padding-top: 10px;
    //}
    //
    //.proposal_item__wrapper-2 .proposal_item-title{
    //    padding-right: 40px;
    //}
    //.proposal_item__wrapper-2 .proposal_item-text{
    //    padding-right: 40%;
    //    margin-bottom: 70px;
    //}

}


@media only screen and (max-width : 500px) {


    //.catalog__text .rate{
    //    width: 60%;
    //}
    //.catalog__text{
    //    //padding-right: 25px;
    //}
    //.catalog__price .new{
    //    font-size: 30px;
    //}

}

@media only screen and (max-width : 450px) {


    //.proposal_item-btn{
    //    padding: 8px;
    //    margin-left: 5px;
    //}
    //.section__title{
    //    font-size: 18px;
    //    line-height: 125.69%;
    //    margin-bottom: 15px;
    //}
    //.section__subtitle{
    //    font-size: 15px;
    //    line-height: 125.69%;
    //}

}



@media only screen and (max-width : 400px) {

    //
    //.catalog__price{
    //
    //    .new{
    //        font-size: 23.1101px ;
    //        line-height: 125.69%;
    //    }
    //    .old{
    //        font-weight: 300;
    //        font-size: 15.4068px ;
    //        line-height: 125.69%;
    //    }
    //}
    //.catalog__title{
    //    font-size: 29.0633px;
    //    line-height: 125.69%;
    //}
    //.catalog__category-item{
    //    font-size: 16px;
    //    line-height: 64.19%;
    //}
    //
    //
    //.slide-title{
    //    font-size: 26.7702px;
    //    line-height: 101.69%;
    //}
    //.slide-new{
    //    font-size: 22px !important;
    //    line-height: 110.19%;
    //}
    //.slide-old{
    //    font-size: 17.0593px !important;
    //    line-height: 110.19%;
    //}
    //




}
