.proposal{
    padding-top: 46px;
    padding-bottom: 85px;



    &_item{
        position: relative;

        &_1{
            width: 44%;
            img{
                position:absolute;
                width: 131%;
                z-index: 100;
                margin-top: -12px;
            }
        }
        &_2{
            width: 53%;


            img{
                position:absolute;
                //margin-top: 15px;
                width: 107%;
            }
        }
        &_3 {
            width: 100%;
            position: relative;
            //margin-left: -26px;
            margin-top: -70px;
            padding-top: -30px;
            z-index: 100;
            img{
                margin-left: -26px;
                margin-top: -30px;
                width: calc( 100% + 26px);
            }
        }

        &-title{
            font-weight: 900;
            font-size: 60px;
            line-height: 95.69%;
            margin-bottom: 20px;
        }
        &-text{
            font-weight: 500;
            font-size: 22.7121px;
            line-height: 131.19%;
            margin-bottom: 35px;
            color: $opacityWhite;
        }
        &-btn{
            padding: 20px 35px;
            color: $white;
            border-radius: 12px;
            font-weight: 500;
            line-height: 125.69%;
            font-size: 18px;
        }
        textarea{
            height: 204px;
        }
        input,
        textarea{
            color: $opacityWhite;
            border: 1px solid transparent;
            font-size: 16px;
            padding: 22px;
            background: rgba(193, 193, 193, 0.22);
            backdrop-filter: blur(24px);
            border-radius: 12px;
            &::placeholder{
                color: $opacityWhite;
            }
            &:focus{
                border: 1px solid $opacityWhite;
            }
        }
        &__wrapper{
            //position: absolute;


            &-1{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                display: flex;
                flex-direction: column;
                height: 40%;
                padding-top: 100px;
                padding-left: 55px;
                padding-right: 200px;

                .proposal_item-btn{
                    background: rgba(0, 0, 0, 0.17);
                    backdrop-filter: blur(24px);
                }
            }
            &-2{

                //padding-right: 30%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1000;
                height: 77%;
                margin-top: 78px;
                margin-left: 50px;

                .proposal_item-text{
                    margin-left: 130px;
                    max-width: 180px;
                    width: 100%;
                }
                .proposal_item-title{
                    max-width: 450px;
                    width: 100%;
                }

                form{
                    width: 90%;
                    margin-left: 130px;
                    margin-top: -60px;
                }
                button{
                    background: $orange;
                }


            }

            &-3{
                position: absolute !important;
                bottom: 0;
                right: 50px;
                padding-bottom: 50px;

                form{
                    width: 100%;
                }

                .proposal_item-title{
                    padding-right: 10%;
                    margin-bottom: 0;
                }
                .proposal_item-btn{

                    background: rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(24px);
                }
            }
        }

    }

    textarea{
        width: 100%;

    }

}

