.catalogPage{


    &__navbar{
        margin-bottom: 30px;


        &-item {
            position: relative;
            margin-right: 8px;

            &-top{
                border: 1px solid #313131;
                border-radius: 37px;
                padding: 8px 16px;
                width: max-content;
                background: transparent;
                color: $white;
                cursor: pointer;
                transition: .3s;

                span {
                    margin-right: 8px;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }
                &.active{
                    background: #1D1D1D;
                }

            }



            &-bottom{
                display: none;
                position: absolute;
                top: 115%;
                left: 0;
                z-index: 100;

                width: 350px;
                //max-width: 350px;
                //width: 140%;

                background: #000;
                border: 1px solid #313131;
                box-sizing: border-box;
                box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.2);
                border-radius: 17px;
                padding: 18px 23px;

                &.active{
                    display: flex;
                }

                &-title{
                    font-size: 16px;
                    line-height: 176.19%;
                }
                &-reset{
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 176.19%;
                    color: #F59502;
                    background: transparent;
                }

                &-label{
                    margin-top: 13px;
                    position: relative;
                    cursor: pointer;

                    &:first-child{
                        margin-top: 15px;
                    }



                    label{
                        cursor: pointer;
                        margin-left: 28px;
                        position: relative;

                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -25px;

                            width: 18px;
                            height: 18px;
                            border-radius: 4px;
                            border: 2px solid #B8C1CC;
                            transition: .3s;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                    }
                    input:checked + label:before{
                        content: '\2714';
                        font-size: 16px;

                        background: #F59502;
                        border: 2px solid #F59502;
                        color: #000;
                    }
                }
            }
        }


        &-search{
            position: relative;
            max-width: 340px;
            width: 100%;

            &-icon{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }

            input{
                max-width: 340px;
                width: 100%;
                font-size: 16px;
                line-height: 125.69%;
                padding: 16px 23px;
                background: #161616;
                border-radius: 9px;
                border: 0 none;
                cursor: pointer;

                &::placeholder{
                    color: #757575;
                }
            }

        }

        &-price{


            //.vue-slider-dot{
            //    width: 16px ;
            //    height: 16px !important;
            //}

        }

    }


    &__wrapper{
        margin-bottom: 67px;


        &-left{

        }
        &-right{
            margin-left: -160px;


        }

        &-item{
            position: relative;

            &-group{
                position: absolute;
            }

            &-title{
                font-weight: 500;
                font-size: 42.2567px;
                line-height: 95.5%;
            }
            &-price{
                font-size: 33.4604px;
                line-height: 29px;
            }

            &-oldPrice{
                font-size: 26.8176px;
                line-height: 85.5%;
                position: relative;
                color: #999;

                &:before{
                    content: '';
                    position: absolute;

                    top: 50%;
                    transform: translateY(-50%) rotate(-4.94deg);
                    left: -10px;

                    width: 120%;
                    height: 2px;
                    background: #F59502;
                }
            }

            &-1{

                .catalogPage__wrapper-item{

                    &-group{
                        left: 50%;
                        bottom: 60px;

                        max-width: 180px;
                        width: 100%;
                    }
                    &-title{
                        font-weight: 500;
                        font-size: 33.4604px;
                        line-height: 91.5%;
                        margin-bottom: 22px;
                    }
                    &-btn{
                        color: #fff;
                        background: #F59502;
                        backdrop-filter: blur(24px);
                        border-radius: 12px;
                        padding: 21px 38px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 125.69%;
                    }

                }

            }

            &-2{
                .catalogPage__wrapper-item{

                    &-group{
                        left: 24px;
                        bottom: 120px;

                        max-width: 240px;
                        width: 100%;
                    }
                    &-title{
                        margin-bottom: 18px;
                    }


                }
            }
            &-3{
                .catalogPage__wrapper-item{

                    &-group{
                        left: 26px;
                        bottom: 16px;

                        max-width: 140px;
                        width: 100%;
                    }
                    &-title{
                        margin-bottom: 11px;
                        font-weight: 400;
                    }

                    &-price{
                        font-size: 33.4604px;
                        line-height: 29px;
                        margin-bottom: 10px;
                    }
                    &-oldPrice{
                        font-size: 33.4604px;
                        line-height: 85.5%;

                    }

                }
            }


            &-4{
                margin-top: -60px;

                .catalogPage__wrapper-item{

                    &-group{
                        left: 35%;
                        bottom: 42px;

                        max-width: 225px;
                        width: 100%;
                    }
                    &-title{
                        margin-bottom: 24px;
                    }
                    &-subTitle{
                        max-width: 80px;
                        width: 100%;

                        color: #F59502;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 99.5%;
                    }

                }
            }
        }
    }


    &__category{
        margin-top: 18px;
        margin-bottom: 70px;

        &-item{
            position: relative;
            z-index: 1;

            &:first-child{
                transform: translate(0px, -50px) scale(1.6);
                z-index: 10;
            }

            &-img{
                //position: absolute;
                //top: 0;
                //left: 0;
                //width: 100%;
                //
                //max-height: 250px;
                //max-width: ;



                border-radius: 20px;
            }

            &-text{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 25px;

                font-size: 24px;
                line-height: 125.69%;
                font-weight: 700;
            }
        }
    }

}




@media only screen and (max-width : 1480px) {

    //.catalogPage__wrapper-item-1{
    //    width: 910px;
    //}

}



@media only screen and (max-width : 768px) {

    .catalogPage__navbar-wrapper{
        position: relative;
    }

    .catalogPage__navbar-item{
        position: inherit;
    }

}

@media only screen and (max-width : 576px) {

    .catalogPage__navbar-wrapper{
        overflow: auto;
    }

}













