.catalogPage{




    &__navbar{
        margin-bottom: 30px;


        &-item {
            position: relative;
            margin-right: 8px;

            &-top{
                border: 1px solid #313131;
                border-radius: 37px;
                padding: 8px 16px;
                width: max-content;
                background: transparent;
                color: $white;
                cursor: pointer;
                transition: .3s;

                span {
                    margin-right: 8px;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }
                &.active{
                    background: #1D1D1D;
                }

            }



            &-bottom{
                display: none;
                position: absolute;
                top: 115%;
                left: 0;
                z-index: 1;

                width: 350px;
                //max-width: 350px;
                //width: 140%;

                background: #000;
                border: 1px solid #313131;
                box-sizing: border-box;
                box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.2);
                border-radius: 17px;
                padding: 18px 23px;

                &.active{
                    display: flex;
                }

                &-title{
                    font-size: 16px;
                    line-height: 176.19%;
                }
                &-reset{
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 176.19%;
                    color: #F59502;
                    background: transparent;
                }

                &-label{
                    margin-top: 13px;
                    position: relative;
                    cursor: pointer;

                    &:first-child{
                        margin-top: 15px;
                    }



                    label{
                        cursor: pointer;
                        margin-left: 28px;
                        position: relative;

                        &:before{
                            content: '';
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -25px;

                            width: 18px;
                            height: 18px;
                            border-radius: 4px;
                            border: 2px solid #B8C1CC;
                            transition: .3s;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                    }
                    input:checked + label:before{
                        content: '\2714';
                        font-size: 16px;

                        background: #F59502;
                        border: 2px solid #F59502;
                        color: #000;
                    }
                }
            }
        }


        &-search{
            position: relative;
            max-width: 340px;
            width: 100%;

            &-icon{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }

            input{
                max-width: 340px;
                width: 100%;
                font-size: 16px;
                line-height: 125.69%;
                padding: 16px 23px;
                background: #161616;
                border-radius: 9px;
                border: 0 none;
                cursor: pointer;

                &::placeholder{
                    color: #757575;
                }
            }

        }

        &-price{

        }

    }
}



@media only screen and (max-width : 768px) {

    .catalogPage__navbar-wrapper{
        position: relative;
    }

    .catalogPage__navbar-item{
        position: inherit;
    }

}

@media only screen and (max-width : 576px) {

    .catalogPage__navbar-wrapper{
        overflow: auto;
    }

}













