
.news {

    &__text{
        margin-top: 30px;
    }

    &__item {
        position: relative;

        &-text {
            position: absolute;
            bottom: 15%;
            left: 34px;
            padding-right: 100px;

        }

        &-metatag {
            font-weight: normal;
            font-size: 16.2px;
            line-height: 109.5%;
        }

        &-title {
            font-weight: 500;
            font-size: 27px;
            line-height: 120%;
        }

        &_1 {
            height: 30%;
        }

        &_2 {
            margin-top: 60px;
            margin-bottom: -130px;
        }

        &_3 {
            margin-top: -42px;
        }

        &_4 {
            margin-top: -21px;
        }

        &_5 {
            margin-top: -31px;
        }

        &_6 {
            margin-left: -50px;
        }
    }



    &__thumb{
        font-size: 16px;

        img{
            max-width: 100%;
            border-radius: 10px;
        }
        &__text{

            font-weight: 400;
        }
        &__category{
            color: $opacityWhite;
        }

        &__href{
            color: $orange;
        }
        &__video{
            font-size: 18px;
        }
    }


    &_block {

        &-3{

            &-item{
                margin-right: -16px;
            }
        }
        &-2 {
            margin-left: 10px;
        }
    }
}







