

.alert{

    .button{
        padding: 18px 25px;
        border-radius: 7px;
        font-size: 18px;
        font-weight: 500;
        color: $white;
        border: 0 none;
        text-align: left;
        cursor: default;
    }
}

.success{

    &__button{
        background: $success;
    }
}

.error{

    &__button{
        background: $error;
    }
}