.development{
    background: url("/assets/static/img/main/error.png") no-repeat 100% center;
    background-size: contain;
    width: 100%;
    height: 100vh;


    &__title{
        padding-top: 120px;
        font-weight: 900;
        font-size: 74px;
        line-height: 115.69%;
    }

    &__subtitle{
        font-size: 27px;
        line-height: 148.19%;
        margin-bottom: 80px;
        //padding-right: 30%;
    }

    &__input{
        background: rgba(193, 193, 193, 0.22);
        backdrop-filter: blur(21.6px);
        border-radius: 10.8px;
        border: 0 none;
        padding: 19px 18px;
        font-size: 18px;

        &::placeholder{
            color: $opacityWhite;
        }
    }

    &__button{
        background: $orange;
        //backdrop-filter: blur(21.6px);
        //border-radius: 10px;
        padding: 17px 34px;
        font-weight: 500;
        font-size: 16px;
        //line-height: 125.69%;
        //color: $white;
    }
}

@media only screen and (max-width: 1400px){
    .development{
        background-size: cover;
        background-position: 70% center;

        &__wrap{
            padding-left: 50px !important;
        }
    }
}


@media only screen and (max-width: 1300px){

    .development__wrap{
        padding-right: 0;
    }
}

@media only screen and (max-width:992px){
    .development__title{
        font-size: 60px;
    }

    .development__subtitle{
        font-size: 23px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width:768px){
    
    .development__wrap{
        padding-right: 0;
        text-align: center;
    }
    
    .development__title{
        font-size: 50px;
        //text-align: center;
    }

    .development__subtitle{
        font-size: 20px;
        margin-bottom: 20px;
        //text-align: center;
    }
}

@media only screen and (max-width:576px){
    
    .development {

        &__wrap{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        &__title {
            font-size: 35px;
        }
        &__subtitle{
            font-size: 18px;
        }
        &__button{
            width: 100%;
        }
    }
}

   

