.header {
    margin-top: 31px;
    margin-bottom: 44px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &.active{
        .mobile_menu-form{
            display: grid !important;
        }

        .mobile_menu .nav-item{
            &:before{
                top: 0;
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(-45deg);
            }
        }
    }

    &__block {
        align-items: center;
        justify-content: space-between;
    }

    &__list,
    &__auth,
    &__translate {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    &__translate,
    &__money {
        color: $menu;

        input {
            display: none;
        }

        a {
            color: #7C7C7C;
            cursor: pointer;
        }

        //input: checked + label {
        //    color: $white;
        //}
    }

    &__inclined {
        margin-left: 3px;
        margin-right: 3px;
        color: #7C7C7C;
    }

    &__list {
        &-item:not(:last-child) {
            margin-right: 35px;
        }

        a {
            display: flex;
            align-items: center;
        }

        &-arrow {
            margin-left: 7px;
        }

    }

    &__search {
        position: relative;
        //transition: .3s;
        //background: $bgSearchLi;
        background: $transparent;


        &-btn{
            position: relative;
            cursor: pointer;

            button{
                white-space: nowrap;
                padding: 8px 40px 8px 8px;
                background: transparent;
                font-size: 16px;
                line-height: 125.69%;
                color: $colorSearchBtn;
            }


            &:after{
                content: url("/assets/static/img/header/search.svg");
                position: absolute;
                top: 58%;
                transform: translateY(-50%);
                left: -20px;
            }
        }
        &-label{
            display: block;
            position: absolute;
            z-index: 10;
            width: 350px;
            top: -5px;
            left: -40px;

            input{
                background: $bgSearchLi;
                width: 100%;
                border-radius: 9px;
                color: $colorSearchBtn;
                font-size: 16px;
                padding: 14px 15px 11px 40px;
                border: 0;

                &::placeholder{
                    font-size: 16px;

                }
            }


            &:after{
                content: url("/assets/static/img/header/search.svg");
                position: absolute;
                top: 56%;
                transform: translateY(-50%);
                left: 10px;
            }
        }


        &-res{

            position: absolute;
            top: 37px;
            left: -40px;
            width: 350px;
            background: #101010;
            border-radius: 0 0 9px 9px;

            &-img img{
                border-radius: 6px;
            }

            &-title{
                font-size: 14px;
                font-weight: 500;
            }
            &-price{}
            .new{

            }
            .old{
                text-decoration: line-through;
                font-weight: 500;
                font-size: 14px;
                color: $opacityWhite;
            }
            &-category{
                font-weight: 500;
                font-size: 14px;
                color: $opacityWhite;
            }
        }


        label {
            color: #C9C9C9;
            cursor: pointer;
            //transition: 0.3s;
        }

        label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        label {
            left: 39px;
        }
    }

    &__money {
        display: flex;
        .label:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__auth {
        &-item {
            cursor: pointer
        }
    }
    .btn_mobile{
        background: $yellow;
        color: $white;
        font-size: 16px;
        padding: 7px 12px;
        border-radius: 6px;
    }




    &__user{
        position: relative;
        cursor: pointer;

        &-money{
            font-weight: 500;
            font-size: 16px;
        }
        &-menu{
            display: none;
            z-index: 200;
            width: 200%;
            padding: 20px;
            position: absolute;
            top: 60px;
            left: -100px;

            background: $greyBg;
            border-radius: 15px;

            li{
                margin-bottom: 10px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }








    /** ACTIVE **/

    .mobile_menu {
        padding: 20px 10px;
        cursor: pointer;

        .nav-item {
            position: relative;
            padding: 0 20px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;

                display: block;
                width: 24px;
                height: 2px;
                background: $tag-bg;
                transition: .3s;
            }
            &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;

                display: block;
                width: 24px;
                height: 2px;
                background: $tag-bg;
                transition: .3s;
            }
        }

        &-form{

        }

        &-active{
            .nav-item{

                &:before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }

    }

}

.activeText{
    color: $white !important;
}

