@media only screen and (min-width : 1366px){

    .mobile_menu-form .header__list{

    }

    .header__block{
        .col-xl-2{
            max-width: 12% !important;
            flex: 0 0 12% !important;
        }
    }

}

@media only screen and (max-width : 1450px) {

    .header__logo{
        margin-right: 12px;
    }

    .header__money{
        margin-right: 20px;
    }

    .header__search-label,
    .header__search-res{
        width: 300px;
        //left: -35px;
    }


}

@media only screen and (max-width : 1365px) {

    .header__search-btn{
        margin-left: 10px;

        &:after{
            top: 52%;
        }
    }

    .header__search-btn{
        //display: none !important;
    }
    .header__search-label{
        display: block !important;
    }
    .header__search-label, .header__search-res{
        left: -12px;
        width: 100%;
        margin-bottom: 10px;
    }

    .header__money-currency{
        margin-top: 12px;
    }

    .mobile_menu-form{
        display: none;
        background: $greyBg;
        border-radius: 21px;
        padding: 23px;
        width: 40% !important;
        position: absolute;
        top: 75px;
        left: 0;
        z-index: 100;

        align-items: flex-start !important;
        //display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "post-1 post-1"
            "post-2 post-3";


        .header__list {
            width: 50%;
            li {
                text-align: left;
                margin-bottom: 20px;

                //&:first-child {
                //    display: none;
                //}
            }
        }

        .header__search{
            grid-area: post-1;
            width: 100%;
            input{
                width: 100%;
                background-color: $black;
            }


            &-res{
                width: 100%;
            }
        }

    }


    .header__money{
        grid-area: post-3;
        display: flex !important;
        justify-content: flex-start;
        height: 100%;
    }

    .header__translate{
        grid-area: post-3;
        margin-top: -72px;
        justify-content: flex-end;
        display: flex;
    }

    .mobile_menu{
        margin-bottom: 10px;

    }

    .section__title{
        margin-top: 0;
    }


    .header__block{
        position: relative;
    }




}





@media only screen and (max-width : 1200px) {

    .slide-title{
        font-size: 55px;
    }
    .slide-new{
        font-size: 55px;
    }
    .slide-old{
        font-size: 32px;
    }

}


@media only screen and (max-width : 992px) {




    .footer__row > .footer__list:nth-child(2){
        margin-top: 9%;
    }



}


@media only screen and (max-width : 900px) {


    .mobile_menu-form{
        width: 55% !important;
    }


}





@media only screen and (max-width : 768px){


    .modal-bonus{


        .modal-wrap .modal__wrap-text{
            margin-bottom: 15px;
        }

        button{
            width: 100%;
            padding: 13px 31px;
            font-size: 16px;
        }
    }

}


@media only screen and (min-width : 711px){



}

@media only screen and (min-width : 600px) and (max-width : 700px){
    .header__translate{
        margin-top: -30px !important;
    }
}






@media only screen and (max-width : 600px) {


    .mobile_menu-form{
        width: 75% !important;
    }



}


@media only screen and (max-width : 1000px) and (orientation: landscape) {

    .modal .button-close{
        top: 70px;
    }

}


@media only screen and (max-width : 576px) {

    .mobile_menu-form{
        top: 65px;
        border-radius: 0;
    }

    .header__money{
        margin-right: 0;
    }

    .header__user-menu{
        width: 240% !important;
        left: -120px !important;
    }

    .modal .button-close{
        top: 35px;
        right: 25px;
    }


    .modal-auth .registration{
        padding: 0;
    }

    .registration__enter-help{
        text-align: left;
    }
    .modal-auth .registration{
        padding: 0;
    }
    .modal {
        .modal-wrap{
            width: 100%;
            padding-right: 0;
            padding-left: 0;
            height: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;

            &>div{
                width: 100%;
            }
        }
        .registration {
            padding: 0;
        }
    }

    .mobile_menu-form .header__search input,
    .mobile_menu-form .header__search-res{
        width: 105%;
    }

    .header__money-currency{
        margin-top: 0;
        padding-top: .5rem !important;
    }

    .footer__row>.footer__list:nth-child(2){
        margin-top: 14%;
    }

    .slide-title{
        font-size: 34px !important;
    }
    .slide-new{
        font-size: 30px !important;
    }
    .slide-old{
        font-size: 24px !important;
    }

    .header__translate{
        margin-top: -85px;
    }
    .header__auth > div{
        width: 100%;
    }

    .footer__list:first-child{
        width: 60%;
    }
    .footer__row{
        padding: 10px;
        border-radius: 0;
        background: none;
    }
    .footer__list-info{
        width: 100%;
        padding: 0 65px;

    }

    .footer__search input{
        margin-bottom: 15px;
    }


    //.footer__list,
    //.footer__contacts{
    //    text-align: center;
    //}

    .header__user-menu{
        width: 180%;
        left: -85px;

    }

}

@media only screen and (max-width : 500px) {

    .modal__wrap-group{
        width: 100%;
    }

    .footer__list-info{
        padding: 0 50px;
    }

    .header__user-money{
        font-size: 14px;
        white-space: nowrap;
    }
    .header__logo img{
        max-width: 60% !important;
    }


}



@media only screen and (max-width : 450px) {

    .footer__list-info{
        margin-top: 0;
    }


    .mobile_menu-form{
        width: 100% !important;
    }
    .header__user{
        img{
            max-width: 300% !important;
        }
    }

    .footer__list-info{
        padding: 0 35px;
    }

}






@media only screen and (max-width : 400px) {

    .footer__list-info{
        margin-top: 5px;
        padding: 0 20px;
    }


}





