body, p {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    padding: 0;
    border: none;
    box-shadow: none;
    &:focus {
        outline: none;
        cursor: pointer;
    }
}
input {
      box-sizing: border-box;
      padding: 0;
      color: inherit;
      &:focus {
          outline: none;
      }
  }
label {
      margin: 0;
  }
textarea {
    &:focus{
        outline: none;
    }
}


button, input, textarea{
    font-family: "Rubik", sans-serif !important;
}


.mw-100 {
    max-width: 100% !important
}

.w-100 {
    width: 100% !important
}


input[type="button"] {
    cursor: pointer
}

input[type="submit"] {
    cursor: pointer
}

.h-100{
    height: 100% !important;
}

.mb-45{
    margin-bottom: 40px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type='number']{
    -webkit-appearance: none;
}