html {
    font-size: 16px;
}
body {

    background: url("/assets/static/img/main/bg.jpg"), rgba(0, 0, 0, .88);
    background-blend-mode: multiply;

    color: $white;
    position: relative;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: visible;
    font-family: "Rubik", sans-serif !important;
}
*{
    font-family: "Rubik", sans-serif !important;
}

@media only screen and (max-width: 992px){

    body{
        background: #101010 !important;
    }

    .catalog .test {
        background: #101010 !important;

        &::before {
            background-image: radial-gradient(circle at 0 0, transparent 30px, #101010 35px) !important;
        }
        &::after{
            background-image: radial-gradient(circle at 0 0, transparent 30px, #101010 35px) !important;
        }

    }

}

.container{
    @media only screen and (max-width:1500px){
        padding: 0 28px;
    }

    @media only screen and (max-width:768px){
        padding: 0 16px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


main {
    padding-top: 125px;

}


.body__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../img/bg.jpg');
}

input {
    color: #C9C9C9;
}

.openModal{
    cursor: pointer;
}

.gradient {
    &__orange-yellow {
        background: linear-gradient(45deg, #FF740F, #E0BE09);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.rate {
    width: 54px !important;
    height: 30px !important;
    font-size: 14px;
    background: linear-gradient(108.47deg, #F59502 -0.66%, #F55902 106.05%);
    border-radius: 10px;
    padding: 6.5px 11px;


    font-weight: normal;
    line-height: 125.69%;
}

.section {
    &__title {
        font-weight: 900;
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 26px;
    }
    &__text {
        display: flex;
        align-items: baseline;
    }
    &__subtitle {
        margin-left: 42px;
        color: #F59502;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
    }
}
.button {
    //background-color: #F55902
    border-radius: 12px;
    padding: 24px 37px;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    display: inline-block;
    color: $white;
    backdrop-filter: blur(24px);
}
.input__group-input {
    border-radius: 12px;
    background: rgba(193, 193, 193, 0.22);
    padding: 21px 22px;
    max-width: 100%;
    width: 338px;
    border: 1px solid rgba(193, 193, 193, 0.22);
    backdrop-filter: blur(24px);
}
.input {
    &__group {
        position: relative;
        &-input {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.7);

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}