.balance{

    &__item{

        &:checked + label{
            border: 1px solid red;
        }
    }


    input{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        width: 274px;
        height: 56px;
        background: #2c2c2c;
        outline: 0;
        border: none;
        padding: 8px 16px;
        border-radius: 6px;
    }
    button{
        background: 0 0;
        color: #757575;
        border: 1px solid #757575;
        padding: 18px 30px;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 500;
    }
}