.home{
    padding-bottom: 30px;



    &__title{
        font-weight: 900;
        font-size: 66px;
        line-height: 92.69%;
        z-index: 100;
        height: 100%;
        padding: 0 20px 80px 65px;

        position: absolute;
        top: 0;

    }

    &__img{
        margin-left: -90px;
        margin-top: -24px;
        position: absolute;
        z-index: 50;
        width: 150%;


    }
    .col-lg-7{
        max-width: 63.333333% !important;
    }


}

.swiper-slide-thumb-active{
    filter: brightness(40%);
}

.swiper-home{
    .swiper-slide {

        &>.w-100{
            position: relative;
        }
        &-fixed{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 140px 60px;
            background: #101010;
            border-radius: 0 30px 0 0;

            &:before{
                content: '';
                top: -30px;
                left: -61px;
                position: absolute;
                transform: rotate(90deg);
                padding: 46px;
                z-index: 1000;
                background: #000;
                background: linear-gradient(135deg,transparent 35px,#000 0) top left;
                background-size: 34% 34%;
                background-repeat: no-repeat;
                background-image: radial-gradient(circle at 0 0,rgba(204,0,0,0) 30px,#101010 35px);
            }
            &:after{
                content: '';
                bottom: -68px;
                right: -30px;
                position: absolute;
                transform: rotate(90deg);
                padding: 50px;
                z-index: 1000;
                background: #000;
                background: linear-gradient(135deg,transparent 35px,#000 0) top left;
                background-size: 34% 34%;
                background-repeat: no-repeat;
                background-image: radial-gradient(circle at 0 0,rgba(204,0,0,0) 30px,#101010 35px);
            }
        }

        img{
            border-radius: 30px;
            height: auto;
        }

        &-text{
            position: absolute;
            top: 0;
            left: 60px;
        }

        &-active {
            position: relative;

            img {
                //position: absolute;
            }
        }
    }
}


.slide{

    &-group{
        padding-left: 100px;
        padding-bottom: 120px;
        //padding-left: 35%;
        //padding-bottom: 40%;
        //padding-left: 20%;
        //padding-bottom: 20%;
    }

    &-title{
        width: 70%;
        padding-top: 5%;
        font-weight: 900;
        font-size: 68.0633px;
        line-height: 101.69%;
    }
    &-new{
        font-weight: bold;
        font-size: 55px;
        line-height: 110.19%;
    }
    &-rate{
        font-size: 14px;
        line-height: 18px;
        background: $orangeButton;
        border-radius: 10px;
        padding: 8.5px 11px;
        font-weight: 500;
        height: 100%;
    }
    &-old{
        font-weight: normal;
        font-size: 47.9141px;
        line-height: 110.19%;
        color: $opacityWhite;
        text-decoration: line-through;
    }


}


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 13px;
    height: 13px;
    background: $white;
}
.swiper-home_thumbs{
    width: 82%;
    margin-left: auto;
    margin-right: 0;
}
