.aboutPage{
    padding-bottom: 100px;

    &__title{

    }


    &__wrapper{
        margin-top: -100px;
    }

    &__item{
        position: relative;


        &:first-child{


            .aboutPage__text{
                bottom: 25px;
                left: -125px;

                max-width: 400px;
                width: 100%;
                text-align: right;
            }

        }

        &:nth-child(2){

            .aboutPage__img{
                position: relative;
                left: -155px;
            }

            .aboutPage__text{
                bottom: -20px;
                right: 20px;

                max-width: 400px;
                width: 100%;
            }

        }

        &:nth-child(3){

            .aboutPage__text{
                bottom: -35px;
                left: -110px;

                max-width: 375px;
                width: 100%;
                text-align: right;
            }
        }
        &:last-child{

            .aboutPage__img{
                position: relative;
                left: -155px;
            }

            .aboutPage__text{
                right: 15px;
                top: 140px;

                max-width: 350px;
                width: 100%;
            }

        }

    }

    &__img{

    }

    &__text{
        position: absolute;

        &-title{
            font-size: 60px;
            line-height: 99.69%;
        }
        &-description{
            font-size: 24px;
            line-height: 147.69%;
        }


    }


    &__form{
        border: 1px solid transparent;
        margin-bottom: 14px;
        color: #fff;
        width: 300px;
        background: rgba(193, 193, 193, 0.22);
        backdrop-filter: blur(21.6px);
        border-radius: 10.8px;
        padding: 14px 19px;
        font-size: 14px;
        line-height: 125.69%;

        transition: .3s;

        &:focus{
            border: 1px solid #eee;
        }
    }

    textarea{
        min-height: 150px;
    }

    &__send{
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 95.69%;
        padding: 20px 33px;
        background: #F59502;
        backdrop-filter: blur(21.6px);
        border-radius: 10.8px;
    }



}
