@font-face {
    font-family: 'Rubik';
    src: url('../static/fonts/Rubik-Light.ttf');
    src: url('../static/fonts/Rubik-Light.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../static/fonts/Rubik-Regular.ttf');
    src: url('../static/fonts/Rubik-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../static/fonts/Rubik-Medium.ttf');
    src: url('../static/fonts/Rubik-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../static/fonts/Rubik-Bold.ttf');
    src: url('../static/fonts/Rubik-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../static/fonts/Rubik-Black.ttf');
    src: url('../static/fonts/Rubik-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}