.balance{

    &.modal{
        background: rgba(0,0,0,0.4);

        .modal-wrap {
            background: #0c0c0c;
            padding: 50px 60px;
            border-radius: 47px;
        }
        .modal__wrap-title {
            font-size: 37px;
            line-height: 121.19%;
            margin-bottom: 7px;
        }
    }

    &__text{
        font-size: 20px;
        line-height: 130.69%;
        margin-bottom: 32px;
    }

    &__label{
        width: 100%;
        margin-bottom: 16px;

        input{
            width: 100%;
            font-size: 16px;
            line-height: 125.69%;
            background: #2c2c2c;
            outline: 0;
            border: none;
            padding: 18px 16px;
            border-radius: 6px;
        }
    }

    &__list{

        &-input:checked + label{
            border: 2px solid #f59502;
        }
        &-pay{
            border: 2px solid transparent;
            padding: 16px 24px;
            border-radius: 6px;
            background: #191919;
            width: 100%;
            transition: .3s;
        }
    }

    &__btn{
        cursor: pointer;
        margin-top: 34px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 18px 33px;
        color: #fff;
        background: #F59502;
        border-radius: 6px;
    }

}




@media only screen and (max-width: 992px){

    .balance.modal {
        .button-close {
            right: -23px;
        }
        .modal-wrap{
            height: auto;
        }
    }


}




@media only screen and (max-width: 576px){

    .balance {
        &__list {
            padding: 0 !important;
        }
    }

}


@media only screen and (max-width: 500px){

    .balance.modal{

        .modal__wrap-title{
            font-size: 30px;
        }

        .balance__text{
            font-size: 14px;
        }

    }

}


@media only screen and (max-width: 460px){

    .balance {

        &.modal .modal__wrap-title{
            font-size: 28px;
        }
        &__text{
            font-size: 16px;
        }

    }

}

@media only screen and (max-width: 400px){

    .balance.modal {
        .modal-wrap {
            padding: 30px 35px;
        }
        .modal__wrap-title {
            font-size: 22px;
        }

    }

}

@media only screen and (max-width: 380px){

    .balance__text{
        font-size: 12px;
        margin-bottom: 22px;
    }


}







