.my{

    .my-private{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 106.19%;
        margin-top: 35px;

    }

    .my-title{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 106.19%;
    }


    .personal-label{
        position: relative;


        span{
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 12px;
            font-weight: 400;
            color: $colorFormLabel;
        }
    }

    .personal-data-form{
        .personal-data{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            width: 274px;
            height: 56px;
            background: $innput-text;
            outline: none;
            border:none;
            padding: 25px 16px 11px 16px;
            margin-bottom: 14px;
            border-radius: 6px;
        }

        .button{
            background: transparent;
            color: $btnMy;
            border: 1px solid $btnMy;
            padding: 18px 30px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: .3s;

            &:hover{
                color: $white;
                border: 1px solid $white;
            }
        }

    }
    .personal-data-form2{
        .personal-data{
            padding: 15px 16px 15px 16px;
        }
    }

    &_block_left{
        margin-right: 146px;
    }
    &_block_right{

    }

    &__socialNetwork{

        &-delete{
            display: none;
            position: absolute;
            right: -35px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-item{
            position: relative;
            cursor: pointer;
            margin-bottom: 14px;
            padding: 11px 16px;
            border-radius: 6px;
            max-width: 274px;
            font-size: 16px;
            line-height: 19px;
            color: #A3A3A3;
            transition: .3s;

            &-img{
                max-width: 30px;
                width: 100%;
            }



            &:last-child{
                margin-bottom: 0;
            }

            &:hover{
                background: #2C2C2C;
            }

            span{
                padding-left: 10px;
            }
            &.active{
                background: #2C2C2C;

                .my__socialNetwork-delete{
                    display: block;
                }
            }
        }

    }

    &__modal .modal-wrap {
        background: #0c0c0c;
        padding: 52px 63px;
        border-radius: 47px;

        .modal__wrap-title {
            font-size: 37px;
            line-height: 121.19%;
            margin-bottom: 39px;
        }
    }

    .modal-key .modal__wrap-title{
        margin-bottom: 39px !important;
    }

    &__btn{
        color: #999;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding: 14px 33px;
        border: none;
        border-radius: 6px;
        margin-right: 33px;
        background: transparent;
        cursor: pointer;
        
        &-untie{
            color: #fff;
            background: #F59502;
        }
    }

}


.my_by{

    &-count{
        color: $tag-bg;
    }

    &__title{
        font-size: 26px;
    }
}
@media only screen and (max-width:1200px){

    .my .my-private{
        margin-bottom: 30px;
    }
}



@media only screen and (min-width:1200px){

    .my .my-private{
        margin-bottom: 43px;
    }

}

@media only screen and (max-width: 1100px){

    .my_block_left{
        margin-right: 0;
    }
    .my_block_right{
        margin-top: 32px;
        width: 100%;
    }

}


@media only screen and (max-width:768px){
    .my-private{
        margin-bottom: 17px;
    }
}


@media only screen and (min-width:638px){
    .personal-data-form:first-child{
        margin-right: 40px;
    }

}



@media only screen and (max-width: 450px){


    .my_by{
        .col-8{
            flex: 0 0 90%;
            max-width: 90%;
        }
    }

}


@media only screen and (max-width: 380px){


    .balance__btn{
        margin-top: 16px;
    }
    .my__btn{
        margin-right: 0;
    }
    .my__modal .modal-wrap {
        padding: 30px 40px;
    }

}



@media only screen and (max-width:320px){
    .my-private{
        margin-bottom: 24px;
    }
}