.my{

    .my-private{
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 106.19%;
        margin-top: 35px;

    }

    .my-title{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 106.19%;
    }


    .personal-label{
        position: relative;


        span{
            position: absolute;
            top: 8px;
            left: 15px;
            font-size: 12px;
            font-weight: 400;
            color: $colorFormLabel;
        }
    }

    .personal-data-form{
        .personal-data{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            width: 274px;
            height: 56px;
            background: $innput-text;
            outline: none;
            border:none;
            padding: 25px 16px 11px 16px;
            margin-bottom: 14px;
            border-radius: 6px;
        }

        .button{
            background: transparent;
            color: $btnMy;
            border: 1px solid $btnMy;
            padding: 18px 30px;
            border-radius: 6px;
            font-size: 16px;
            font-weight: 500;
        }

    }
    .personal-data-form2{
        .personal-data{
            padding: 15px 16px 15px 16px;
        }
    }


    &__socialNetwork{
        background: red;

        &-item{
            padding: 18.5px 16px;
            border-radius: 6px;


            span{
                padding-left: 10px;
            }
            //&.active{
            //    background: #2C2C2C;
            //}
        }

    }

}


.my_by{

    &-count{
        color: $tag-bg;
    }

    &__title{
        font-size: 26px;
    }
}


@media only screen and (min-width:1200px){

    .my .my-private{
        margin-bottom: 43px;
    }

}

@media only screen and (max-width:1200px){

    .my .my-private{
        margin-bottom: 30px;
    }

}

@media only screen and (max-width:768px){
    .my-private{
        margin-bottom: 17px;
    }
}


@media only screen and (min-width:638px){
    .personal-data-form:first-child{
        margin-right: 40px;
    }

}



@media only screen and (max-width: 450px){


    .my_by{
        .col-8{
            flex: 0 0 90%;
            max-width: 90%;
        }
    }

}


@media only screen and (max-width:320px){
    .my-private{
        margin-bottom: 24px;
    }
}